{{>navbar}}

<div class="container-fluid d-flex w-auto h-auto p-3 flex-column">
    {{#if messageSent}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{messageSent}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    <div class="jubmotron text-center mx-3">
        <h4><span class="text-warning">Administrator View</span> || <a href="/home">Dealer View</a></h4>
        <br>
        <p>
            <a class="btn btn-primary" href="/admin/dealers-list">Dealers List</a>
        </p>
    </div>

    <br>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="current-tab" data-bs-toggle="tab" data-bs-target="#current-tab-pane"
                type="button" role="tab" aria-controls="current-tab-pane" aria-selected="true">Current Shows</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="past-tab" data-bs-toggle="tab" data-bs-target="#past-tab-pane" type="button"
                role="tab" aria-controls="past-tab-pane" aria-selected="false">Past Shows</button>
        </li>
    </ul>

    <br>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="current-tab-pane" role="tabpanel" aria-labelledby="current-tab"
            tabindex="0">
            {{#each shows}}
            <div class="row px-3 pt-3 pb-2 mx-lg-3">
                <div class="col-4 gs-0">
                    {{this.month}} {{this.day}}, {{this.year}}
                </div>
                <div class="col-8 gx-0">
                    <a href="/admin/rsvp-list/{{this.id}}">{{this.name}}<br>{{this.city}}, {{this.state}}</a> <br>
                    Tables available: {{#if this.number_of_tables_for_rent}} {{this.number_of_tables_for_rent}} {{else}}
                    Sold
                    out{{/if}} <br>
                    Tables rented: {{this.tables_rented}}
                </div>
            </div>
            {{/each}}
        </div>

        <div class="tab-pane fade" id="past-tab-pane" role="tabpanel" aria-labelledby="past-tab" tabindex="0">
            {{#each pastShows}}
            <div class="row px-1 pt-3 pb-2 mx-lg-3">
                <div class="col-4 gs-0">
                    {{this.month}} {{this.day}}, {{this.year}}
                </div>
                <div class="col-8 gx-0 d-flex justify-content-between">
                    <div class="me-3">
                        <a href="/admin/rsvp-list/{{this.id}}">{{this.name}}<br>{{this.city}}, {{this.state}}</a> <br>
                        <div id="show{{this.id}}" class="collapse">
                            Tables available: {{#if this.number_of_tables_for_rent}} {{this.number_of_tables_for_rent}}
                            {{else}} Sold
                            out{{/if}} <br>
                            Tables rented: {{this.tables_rented}} <br>
                            Archive notes: <span style="white-space: pre-wrap;">{{this.archive_notes}}</span>
                        </div>
                    </div>
                    <div class="ml-3">
                        <button class="btn btn-primary toggle ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#show{{this.id}}" aria-expanded="false" aria-controls="collapse"></button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{> footer}}

<script src="js/toggleButtons.js"></script>