{{>navbar}}

<div class="container-fluid d-flex w-auto h-auto p-3 flex-column">
    <div class="jubmotron text-center mx-3">
        <h4>Administrator</h4>
    </div>

    <hr>

    {{#each shows}}
    <div class="row px-3 pt-3 pb-2 mx-3">
        <div class="col-4">
            {{this.month}} {{this.day}}, {{this.year}}
        </div>
        <div class="col-8">
            <a href="/admin/rsvp-list/{{this.id}}">{{this.name}}<br>{{this.city}}, {{this.state}}</a>
        </div>
    </div>
    {{/each}}
</div>

{{> footer}}
