{{>navbar}}

<div class="container-fluid p-3">
    <div class="text-center">
        <h1>Dealers List</h1>
        <p><a class="btn btn-primary" target="_blank" href="mailto:?bcc={{#each dealersList}}{{this.email}}, {{/each}}">Email All Dealers</a></p>
    </div>
    <br>
    {{#each dealersList}}
        {{#if this.name}}
        Name: {{this.name}}<br>
        {{else}}
        First Name: {{this.first_name}} <br>
        Last Name: {{this.last_name}} <br>
        {{/if}}
        Company Name: {{this.company_name}} <br>
        Address: {{this.address}} <br>
        {{#if this.city}}
        {{this.city}}, {{this.state}} {{this.zip}} <br>
        {{else}}
        {{/if}}
        Phone: {{this.phone}} <br>
        Email: <a target="_blank" href="mailto:{{this.email}}">{{this.email}}</a><br>
        Social Media: {{this.socialmedia}} <br>
        Website: {{this.website}} <br>
        Record Riots Help: {{this.help}} <br>
        <hr>
    {{/each}}
</div>