{{> navbar}}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h3>Edit Profile</h3>
    <p>
    <div class="form-text text-white">Fields with * are required; email cannot be changed.</div>
    </p>

    <hr>

    <form class="mb-3" action="/save-profile" method="post">
        <input type="hidden" name="image" value="{{dealerInfo.image}}">
        <label for="name">Email *</label>
        <div class="form-group mb-3">
            <input type="text" name="email" value="{{dealerInfo.email}}" readonly>
        </div>

        {{#if dealerInfo.name}}
        <label for="name">Name *</label>
        <div class="form-group mb-3">
            <input type="text" name="name" value="{{dealerInfo.name}}" required>
        </div>
        {{else}}
        <label for="name">First Name *</label>
        <div class="form-group mb-3">
            <input type="text" name="first_name" value="{{dealerInfo.first_name}}" required>
        </div>

        <label for="name">Last Name *</label>
        <div class="form-group mb-3">
            <input type="text" name="last_name" value="{{dealerInfo.last_name}}" required>
        </div>
        {{/if}}


        <label for="name">Company Name</label>
        <div class="form-group mb-3">
            <input type="text" name="company_name" value="{{dealerInfo.company_name}}">
        </div>

        <label for="name">Address *</label>
        <div class="form-group mb-3">
            <input type="text" name="address" value="{{dealerInfo.address}}" required>
        </div>

        <label for="name">City *</label>
        <div class="form-group mb-3">
            <input type="text" name="city" value="{{dealerInfo.city}}" required>
        </div>

        <label for="name">State *</label>
        <div class="form-group mb-3">
            <input type="text" name="state" value="{{dealerInfo.state}}" required>
        </div>

        <label for="name">Zip *</label>
        <div class="form-group mb-3">
            <input type="text" name="zip" value="{{dealerInfo.zip}}" required>
        </div>

        <label for="name">Phone *</label>
        <div class="form-group mb-3">
            <input type="text" name="phone" value="{{dealerInfo.phone}}" required>
        </div>

        <label for="name">Social Media Accounts</label>
        <div class="form-group mb-3">
            <textarea name="socialmedia" cols="30" rows="10" value="{{dealerInfo.socialmedia}}"></textarea>
        </div>

        <label for="name">Website</label>
        <div class="form-group mb-3">
            <input type="text" name="website" value="{{dealerInfo.website}}">
        </div>

        <label for="name">Can you help us promote Record Riots? Please explain.</label>
        <div class="form-group mb-3">
            <textarea name="help" cols="30" rows="10" value="{{dealerInfo.help}}"></textarea>
        </div>

        <div class="form-group mb-3">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>

{{> footer}}