{{>navbar}}

<div class="container-fluid d-flex w-auto vh-100 p-3 flex-column">
    {{#if message}}
    <div class="align-items-center d-flex w-auto vh-100 p-3 flex-column">
        <p>
            <h4>{{message}}</h4>
        </p>

        <p>
            <a class="btn btn-success" href="/home">Return to list of shows</a>
        </p>
    </div>
    {{/if}}

    {{#each shows}}
    <div class="row px-3 pt-3 pb-2 mx-3">
        <div class="col-4">
            {{this.month}} {{this.day}}, {{this.year}}
        </div>
        <div class="col-4">
            <a href="/show/{{this.id}}">{{this.name}}<br>{{this.city}}, {{this.state}}</a>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-secondary">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Delete this RSVP?
                </div>
                <div class="modal-footer text-white">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="/delete-rsvp/{{this.id}}" method="post">
                        <input type="hidden" name="show_id" value="{{this.id}}">
                        <input type="hidden" name="name" value="{{../user}}">
                        <input type="hidden" name="email" value="{{../userEmail}}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>