<div class="bg-white text-black vw-100 h-100">
    <br>

    <div class="text-center">
        <h4>RSVP List for {{showName}}</h4>
        <h5>{{showDate}}</h5>
    </div>

    <br>

    <div>
        <br>

        <div class="row">
            <div class="col-2">
                Name
            </div>
            <div class="col-2">
                # Tables
            </div>
            <div class="col-6">
                Notes
            </div>
            <div class="col-2">
                Paid?
            </div>
        </div>

        <hr>

        {{#each dealerRsvpList}}
        <div class="row">
            <div class="col-2 text-break">
                {{this.name}}
            </div>
            <div class="col-2 text-break">
                {{this.number_of_tables}}
            </div>
            <div class="col-6 text-break">
                {{this.notes}}
            </div>
            <div class="col-2 text-break">
                {{#if this.paid}}
                Yes
                {{else}}
                No <br>
                (${{this.rent_due}} due)
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>

    <br>

</div>