{{> navbar}}

<main class="px-3">
    <div class="container-fluid d-flex align-items-center w-auto vh-100 p-3 flex-column">
        <p>
            <strong>You have successfully registered for {{name}} on {{date}}!</strong>
        </p>

        <p>
            <a class="btn btn-primary" href="/my-rsvps">Go to your RSVPs</a><br>
        </p>

        <p>
            <a class="btn btn-primary" href="/home">Return to list of shows</a>
        </p>

        <div class="form-group mb-3">
            Rent Due: ${{rentDue}} <br>
        </div>

        {{#if posted_by_steve}}
            <p>
                Optional - choose a payment method below to pre-pay your table fees ($5 convenience fee will be applied):
            </p>
            
            <div id="checkout">
            <!-- Checkout will insert the payment form here -->
            </div>

            {{!-- <form id="savePaymentForm" action="/save-payment" method="post">
                <input type="hidden" name="email" value="{{email}}">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="rent_due" value="{{rentDue}}">
            </form> --}}

            <script>
                // Initialize Stripe.js
                const stripe = Stripe({{stripe_publishable_key}});

                initialize();

                // Fetch Checkout Session and retrieve the client secret
                async function initialize() {
                const fetchClientSecret = async () => {
                    const response = await fetch("/create-checkout-session", {
                    method: "POST",
                    });
                    const { clientSecret } = await response.json();
                    return clientSecret;
                };

                // Initialize Checkout
                const checkout = await stripe.initEmbeddedCheckout({
                    fetchClientSecret,
                });

                // Mount Checkout
                checkout.mount('#checkout');
                }
            </script>
        {{/if}}
    </div>
</main>

{{> footer}}