{{>navbar}}

<div class="container-fluid">
    <br>

    {{#if dealerInfoUpdated}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{dealerInfoUpdated}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if dealerAdded}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{dealerAdded}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if dealerDeleted}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{dealerDeleted}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if archiveNotesUpdated}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{archiveNotesUpdated}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if messageSent}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{messageSent}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    <div class="text-center">
        <h4>RSVP List for {{showName}}</h4>
        <h5>{{showDate}}</h5>
        <a href="/admin/print-view/{{showId}}" class="btn btn-warning">Print View</a>
    </div>

    <br>

    <div class="container mt-3">
        <p>Number of tables available: {{numberOfTablesForRent}}</p>
        <p>Tables Rented: {{tablesRented}}</p>
        <p>
            <a href="/admin/waitlist/{{showId}}" class="btn btn-warning">Waiting List</a>
        </p>
        <br>
        <hr>
        <p>
        <h4>Create Discount Code:</h4>
        <br>
        <form action="/admin/save-discount" method="post">
            <input type="hidden" name="id" value="{{showId}}">
            <label for="discount_amount">Amount:</label>
            <div class="form-group mb-3">
                $ <input type="number" name="discount_amount" required>
            </div>
            <div class="mb-3">
                <small>* New amount due will be shown when dealer applies discount code</small>
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Save Discount</button>
            </div>
        </form>
        </p>
        <br>
        <p>
        <h4>Available Discount Codes:</h4>
        <br>
        {{#each discountCodes}}
        <div class="row">
            <div class="col-2">
                Code: {{this.code}} <br>
                Amount: ${{this.amount}}
            </div>
            <div class="col-2">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDiscountModal">X</button>
            </div>
        </div>
        <br>
        <div class="modal fade" id="deleteDiscountModal" tabindex="-1" aria-labelledby="deleteDiscountModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-secondary">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Delete this discount code?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-white"
                            data-bs-dismiss="modal">Close</button>
                        <form action="/admin/delete-discount" method="post">
                            <input type="hidden" name="id" value="{{../showId}}">
                            <input type="hidden" name="code" value="{{this.code}}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        </p>
        <hr>
        {{!-- add dealer --}}
        <form action="/admin/add-dealer-rsvp" method="post">
            <h4>Add a dealer:</h4>
            <br>
            <input type="hidden" name="id" value="{{showId}}">
            <input type="hidden" name="number_of_tables_for_rent" value="{{numberOfTablesForRent}}">
            <input type="hidden" name="table_rent" value="{{tableRent}}">

            <div class="row">
                <label for="dealerName">Name:</label>
                <div class="form-group col-md-4 mb-3">
                    <input type="text" class="form-control" id="dealerName" name="name">
                </div>
            </div>

            <div class="row">
                <label for="dealerEmail">Email:</label>
                <div class="form-group col-md-4 mb-3">
                    <input type="text" class="form-control" id="dealerEmail" name="email">
                </div>
            </div>

            <div class="row">
                <label for="dealerNotes">Dealer Notes:</label>
                <div class="form-group col-md-4 mb-3">
                    <input type="text" class="form-control" id="dealerNotes" name="notes">
                </div>
            </div>

            <div class="row">
                <label for="number of tables">Number Of Tables: </label>
                <div class="form-group col-4 col-md-2 mb-3">
                    <input class="form-control" type="number" min="0" name="number_of_tables"
                        max="{{maxTablesPerDealer}}" required>
                    <div class="form-text text-white">Max: {{maxTablesPerDealer}}</div>
                </div>
            </div>

            <div class="col-3">
                <button type="submit" class="btn btn-primary">Add Dealer RSVP</button>
            </div>
        </form>
        <br>
        <hr>
        <h4>Dealer Information:</h4>
        <form action="/admin/edit-dealer-information/{{showId}}" method="post">
            <div class="row">
                <div class="form-group mb-3">
                    <textarea class="form-control col-8" id="inputDealerInformation" name="dealer_information" rows="8"
                        cols="40">{{dealerInformation}}</textarea>

                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" type="submit">Save Dealer Information</button>
            </div>
        </form>
        <br>
        <hr>
        <h4>Archive Notes:</h4>
        <form action="/admin/edit-archive-notes/{{showId}}" method="post">
            <div class="row">
                <div class="form-group mb-3">
                    <textarea class="form-control col-8" id="inputArchiveNotes" name="archive_notes" rows="8"
                        cols="40">{{archiveNotes}}</textarea>

                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" type="submit">Save Archive Notes</button>
            </div>
        </form>
        <br>
        <hr>
        <p>
        <!-- Email All Dealers Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#emailAllDealersModal">Email All Dealers</button>

        <!-- Email All Dealers Modal -->
        <div class="modal bg-dark min-vh-100 fade" id="emailAllDealersModal" tabindex="-1" aria-labelledby="#emailAlldealersModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-secondary" data-bs-theme="dark">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Email All Dealers</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form action="/admin/email-all-dealers" method="post">
                        <input type="hidden" name="id" value="{{showId}}">
                        <div class="modal-body bg-secondary">
                            <div class="mb-3">
                                <label for="email" class="form-label">To:</label>
                                {{#each dealerRsvpList}}
                                    <fieldset>
                                            <label><input type="checkbox" name="email" value="{{this.email}}" checked/> {{this.name}} / {{this.email}}</label>
                                    </fieldset>
                                {{/each}}  
                            </div>

                            <div class="mb-3">
                                <label for="subject" class="form-label">Subject</label>
                                <input type="text" class="form-control" name="subject" aria-describedby="subject">
                            </div>

                            <div class="mb-3">
                                <label for="message" class="form-label">Message</label>
                                <textarea class="form-control" name="message" rows="8" cols="40"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer bg-dark-subtle">
                            <button type="submit" class="btn btn-primary">Send</button>
                            <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </p>
        <hr>
        <div class="row">
            <div class="col-2">
                Name
            </div>
            <div class="col-2 text-center">
                # Tables
            </div>
            <div class="col-3">
                Notes
            </div>
            <div class="col-2 text-center">
                Paid?
            </div>
        </div>
        <hr>
        {{#each dealerRsvpList}}
        <div class="row mb-3">
            <div class="col-2 text-break">
                <a href="#" data-bs-toggle="modal" data-bs-target="#emailDealer{{this._id}}">{{this.name}}</a>
            </div>
            <div class="col-2 text-break text-center">
                {{this.number_of_tables}}
            </div>
            <div class="col-3 text-break">
                {{this.notes}}
            </div>
            <div class="col-2 text-break text-center">
                {{#if this.paid}}
                Yes
                {{else}}
                No <br>
                (${{this.rent_due}} due)
                {{/if}}
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger mx-2 mb-2" data-bs-toggle="modal"
                    data-bs-target="#deleteRsvpModal{{this._id}}">X</button>
            </div>

            <!-- Delete RSVP Modal -->
            <div class="modal fade" id="deleteRsvpModal{{this._id}}" tabindex="-1" aria-labelledby="deleteRsvpModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-secondary">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Delete this dealer?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-white"
                                data-bs-dismiss="modal">Close</button>
                            <form action="/admin/delete-rsvp" method="post">
                                <input type="hidden" name="id" value="{{../showId}}">
                                <input type="hidden" name="name" value="{{this.name}}">
                                <input type="hidden" name="email" value="{{this.email}}">
                                <input type="hidden" name="number_of_tables_for_rent"
                                    value="{{../numberOfTablesForRent}}">
                                <input type="hidden" name="number_of_tables" value="{{this.number_of_tables}}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Email Individual Dealer Modal -->
            <div class="modal bg-dark min-vh-100 fade" id="emailDealer{{this._id}}" tabindex="-1" aria-labelledby="#emailIndividualDealerModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-secondary" data-bs-theme="dark">
                            <h1 class="modal-title fs-5">Email to {{this.name}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form action="/admin/email-individual-dealer" method="post">
                            <input type="hidden" name="id" value="{{../showId}}">
                            <div class="modal-body bg-secondary">
                                <div class="mb-3">
                                    <label for="email" class="form-label">To:</label>
                                    <input type="email" class="form-control" name="email" value="{{this.email}}" aria-describedby="email" readonly>
                                </div>

                                <div class="mb-3">
                                    <label for="subject" class="form-label">Subject</label>
                                    <input type="text" class="form-control" name="subject" aria-describedby="subject">
                                </div>

                                <div class="mb-3">
                                    <label for="message" class="form-label">Message</label>
                                    <textarea class="form-control" name="message" rows="8" cols="40"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer bg-dark-subtle">
                                <button type="submit" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        {{/each}}
    </div>

    <br>

</div>

{{> footer}}