{{>navbar}}

<div class="container-fluid">
    <div class="text-center">
        <h4>RSVP List for {{showName}}</h4>
        <h5>{{showDate}}</h5>
    </div>

    {{!-- {{#each show.dealer_rsvp_list}}
    {{this}}
    {{/each}} --}}

    <div>
        <table class="container p-3 table table-dark table-borderless">
            <thead>
                <tr>
                    <th scope="col-3">Name</th>
                    <th scope="col-3"># Tables Reserved</th>
                    <th scope="col-8">Notes</th>
                    <th scope="col-2">Paid?</th>
                </tr>
            </thead>
            <tbody>
                {{#each dealerRsvpList}}
                <tr>
                    <td class="col-3">
                        {{this.name}}
                    </td>
                    <td class="col-3">
                        {{this.number_of_tables}}
                    </td>
                    <td class="col-3">
                        {{this.notes}}
                    </td>
                    <td class="col-3">
                        {{this.paid}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>