{{>navbar}}

<div class="container-fluid">
    <br>

    <div class="text-center">
        <h4>RSVP List for {{showName}}</h4>
        <h5>{{showDate}}</h5>
        <a href="/admin/print-view/{{showId}}" class="btn btn-warning">Print View</a>
    </div>

    <br>

    <div class="container vh-100 mt-3">
        <p>Number of tables available: {{numberOfTablesForRent}}</p>
        <p>
            <a href="/admin/waitlist/{{showId}}" class="btn btn-warning">Waiting List</a>
        </p>
        <br>
        {{!-- add dealer --}}
        <form action="/admin/add-dealer-rsvp" method="post">
            <h4>Add a dealer:</h4>
            <input type="hidden" name="id" value="{{showId}}">
            <input type="hidden" name="number_of_tables_for_rent" value="{{numberOfTablesForRent}}">

            <div class="row">
                <label for="dealerName">Name:</label>
                <div class="form-group col-md-4 mb-3">
                    <input type="text" class="form-control" id="dealerName" name="name">
                </div>
            </div>

            <div class="row">
                <label for="number of tables">Number Of Tables: </label>
                <div class="form-group col-4 col-md-2 mb-3">
                    <input class="form-control" type="number" min="0" name="number_of_tables" max="{{maxTablesPerDealer}}" required>
                    <div class="form-text text-white">Max: {{maxTablesPerDealer}}</div>
                </div>
            </div>

            <div class="col-3">
                <button type="submit" class="btn btn-primary">Add Dealer RSVP</button>
            </div>
        </form>
        <br>

        <div class="row">
            <div class="col-2">
                Name
            </div>
            <div class="col-2">
                # Tables
            </div>
            <div class="col-4">
                Notes
            </div>
            <div class="col-2">
                Paid?
            </div>
        </div>
        <hr>
        {{#each dealerRsvpList}}
        <div class="row mb-3">
            <div class="col-2">
                {{this.name}}
            </div>
            <div class="col-2">
                {{this.number_of_tables}}
            </div>
            <div class="col-4">
                {{this.notes}}
            </div>
            <div class="col-2">
                {{#if this.paid}}
                Yes
                {{else}}
                No
                {{/if}}
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content text-secondary">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Delete this dealer?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Close</button>
                            <form action="/admin/delete-rsvp" method="post">
                                <input type="hidden" name="id" value="{{../showId}}">
                                <input type="hidden" name="name" value="{{this.name}}">
                                <input type="hidden" name="email" value="{{this.email}}">
                                <input type="hidden" name="number_of_tables_for_rent" value="{{../numberOfTablesForRent}}">
                                <input type="hidden" name="number_of_tables" value="{{this.number_of_tables}}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            {{!-- <div class="col-1">
                {{#if this.paid}}
                Yes
                {{else}}
                No
                {{/if}}
            </div> --}}
        </div>
        {{/each}}
    </div>

    <br>

</div>