{{>navbar}}

<div class="cover-container-fluid mb-3">
    <div class="text-center">
        <h4>RSVP List for {{showName}}</h4>
        <h5>{{showDate}}</h5>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-2">
                Name
            </div>
            <div class="col-1">
                # Tables
            </div>
            <div class="col-8">
                Notes
            </div>
            <div class="col-1">
                Paid?
            </div>
        </div>
        <hr>
        {{#each dealerRsvpList}}
        <div class="row">
            <div class="col-2">
                {{this.name}}
            </div>
            <div class="col-1 text-center">
                {{this.number_of_tables}}
            </div>
            <div class="col-8">
                {{this.notes}}
            </div>
            <div class="col-1">
                {{#if this.paid}}
                Yes
                {{else}}
                No
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>