{{> navbar}}

<hr>

<div class="container-fluid h-auto">
    <div class="px-3 pt-3 pb-3">
        <p>
        <h3>{{show.name}}</h3>
        </p>

        <br>

        <p>
            {{show.date}}<br>
            {{show.start}} to {{show.end}}
        </p>

        <br>

        <p>
            {{show.venue}} <br>
            {{show.address}} <br>
            {{show.city}}, {{show.state}} {{show.zip}}
        </p>

        <br>

        <p>
            {{show.more_information}}
        </p>
        
        <br>

        <p>
            Table Rent: ${{show.table_rent}}
        </p>

        <hr>

        <br>

        {{#if tablesAvailable}}
        <form id="rsvpForm" action="/rsvp-confirmation" method="post">
            <input id="showId" type="hidden" name="id" value="{{show.id}}">
            <input id="showName" type="hidden" name="name" value="{{show.name}}">
            <input id="showCity" type="hidden" name="city" value="{{show.city}}">
            <input id="showState" type="hidden" name="state" value="{{show.state}}">
            <input id="showDate" type="hidden" name="date" value="{{show.date}}">
            <input id="showMonth" type="hidden" name="month" value="{{show.month}}">
            <input id="showDay" type="hidden" name="day" value="{{show.day}}">
            <input id="showYear" type="hidden" name="year" value="{{show.year}}">
            <input type="hidden" name="table_rent" value="{{show.table_rent}}">
            <input id="showNumberOfTablesForRent" type="hidden" name="number_of_tables_for_rent"
                value="{{show.number_of_tables_for_rent}}">

            {{!-- num of tables --}}
            <label for="number of tables">* Number Of Tables: </label>
            <div class="form-group col-4 col-md-2 mb-3">
                <input class="form-control" type="number" min="0" name="number_of_tables" max="{{maxTablesAvailable}}" required>
                <div class="form-text text-white">* Required - Max: {{maxTablesAvailable}}</div>
            </div>

            <div class="form-group col-lg-6 mb-3">
                <label for="notes">Notes (Special requests, etc.)</label>
                <textarea class="form-control mb-3" name="notes" rows="3" cols="30"
                    placeholder="I need a table, etc."></textarea>
                <div class="form-text text-white">Please note, special requests cannot be guaranteed.</div>
            </div>

            <input id="paidInput" type="hidden" name="paid" value="false">

            <div class="form-group mb-3">
                <button id="rsvpFormSubmitButton" type="submit" class="btn btn-primary">RSVP</button>
            </div>
        </form>
        {{else}}
        <p>
            Sorry, there are no more tables available for this event. Please click below to be placed on the waiting list.
        </p>

        <p>
            <form action="/waitlist" method="post">
                <input type="hidden" name="email" value="{{userEmail}}">
                <input type="hidden" name="id" value="{{show.id}}">
                <button type="submit" class="btn btn-primary">Get On Waiting List</button>
            </form>
        </p>
        {{/if}}

        <br>

        <div class="container my-3">
            <p>
                * Please note - outstanding table rent will be collected around 2 PM at the show.
            </p>

            <p>
                Additionally, all reservations are subject to approval by Record Riots. If you don't hear from us within
                48 hours of making your reservation, you are CONFIRMED. At that point there's NO NEED to reach out to
                confirm verbally with Steve or anyone else. Thanks for supporting Record Riots!
            </p>
        </div>
    </div>
</div>