{{> navbar}}

<br>

<div class="container-fluid d-flex w-auto p-3 flex-column">
    {{#if messageSent}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{messageSent}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    <div class="d-flex flex-column align-items-center">
        {{#if isAdmin}}
            <h4><span class="text-warning">Dealer View</span> || <a href="/admin">Administrator View</a></h4>
        {{/if}}
        <br>
        <h3>Available Shows:</h3>
    </div>
    
    <hr>
    
    {{#if profileUpdated}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{profileUpdated}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#each shows}}
    <div class="row px-3 pt-3 pb-2">
        <div class="col-4">
            {{this.month}} {{this.day}}, {{this.year}}
        </div>
        <div class="col-8">
            <a href="/show/{{this.id}}">{{this.name}}<br>{{this.city}}, {{this.state}}</a>
        </div>
    </div>
    {{/each}}
</div>

{{> footer}}