{{> navbar}}

<br>

<div class="container-fluid d-flex w-auto p-3 flex-column">
    <div class="d-flex flex-column align-items-center">
        <h3>Available Shows:</h3>
    </div>
    
    <hr>
    
    {{#each shows}}
    <div class="row px-3 pt-3 pb-2">
        <div class="col-4">
            {{this.month}} {{this.day}}, {{this.year}}
        </div>
        <div class="col-8">
            <a href="/show/{{this.id}}">{{this.name}}<br>{{this.city}}, {{this.state}}</a>
        </div>
    </div>
    {{/each}}
</div>

{{> footer}}