{{> navbar}}

<div class="container py-3">
    <p>
    <h3>{{show.name}}</h3>
    </p>

    <p>
        {{show.date}}<br>
        {{show.start}} to {{show.end}}
    </p>

    <p>
        {{show.venue}} <br>
        {{show.address}} <br>
        {{show.city}}, {{show.state}} {{show.zip}}
    </p>

    <form action="/rsvp-pay-later" method="post">
        <input type="hidden" name="id" value="{{show.id}}">
        <input type="hidden" name="name" value="{{show.name}}">
        <input type="hidden" name="city" value="{{show.city}}">
        <input type="hidden" name="state" value="{{show.state}}">
        <input type="hidden" name="date" value="{{show.date}}">
        <input type="hidden" name="month" value="{{show.month}}">
        <input type="hidden" name="day" value="{{show.day}}">
        <input type="hidden" name="year" value="{{show.year}}">
        <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="email" value="{{userEmail}}">
        <input type="hidden" name="number_of_tables_for_rent" value="{{show.number_of_tables_for_rent}}">

        {{!-- num of tables --}}
        <div class="form-group mb-3 col-xs-2">
            <label for="number of tables">Number Of Tables: </label>
            <input type="number" min="0" name="number_of_tables" max="{{show.max_tables_per_dealer}}" required>
        </div>
        <div class="form-group mb-3">
            <label for="notes">Notes (Special requests, etc.)</label>
            <textarea class="form-control col-8" name="notes" rows="8" cols="40"></textarea>
            <div class="form-text text-white">Special requests cannot be guaranteed.</div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">RSVP - Pay at Event</button>
        </div>
    </form>
</div>